@import '~design-web-components/scss/variables';

:host {
  display: block;
  width: 100%;
  max-width: 77.5rem;

  .topbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    &-link {
      font-size: 10px;
      color: $c-text;
    }

    .rep {
      display: flex;
    }
  }
}
