@import '../../../../scss/variables';

:host {
  display: block;
  width: 100%;
  max-width: 77.5rem;

  .topbar {
    --font-size: 10px;
    --c-link: #{$c-text};
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .rep {
      display: flex;
    }
  }
}
