:host {
  display: block;
  width: 100%;
  max-width: 77.5rem;

  .topbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .rep {
      display: flex;
    }
  }
}
