@import 'scss/variables';

:host {
  display: block;

  // box-shadow:  rgba(0, 0, 0, 0.2);
}

.product {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  height: 350px;
  // overflow:auto;
}

.link {
  color: $c-text;
  font-size: $font-size--base;
}
h2 {
  color: $c-primary;
}
.remove {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}
