:host {
  display: block;
}
/* h3{
    color:#999;
  } */

.content {
  height: 80%;
  /* height: 100%; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.content::-webkit-scrollbar {
  display: none;
}

.content center {
  display: flex;
  justify-content: center;
  /* height: 100px;
    overflow:auto; */
}
.bottom-price {
  display: flex;
  justify-content: space-between;
}
.bottom-price .displaytotal {
  color: #7f28c4;
}
.bottom {
  margin-top: auto;
  display: inline-block;
  width: 100%;
}
